#wrapper {
    width: 450px;
    padding:0px 0px 10px 10px;
    margin: 0;
}

#intro {
    padding-bottom: 10px;
}

h2 {
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
}

#slider 
{
    display:block;
    width: 360px;
    margin: 0;
    position: relative;
    padding:2px;
    background-color:Black;
}

.scroll {
    height: 240px;
    width: 360px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    clear: left;
    background: Black;
}

.scrollContainer div.panel 
{
    background-color:White;
    padding: 0px;
    height: 240px;
    width: 360px;
}

#shade {
    background: #EDEDEC url(images/shade.jpg) no-repeat 0 0;
    height: 50px;
}

ul.navigation 
{
    width:100%;
    text-align:center;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom:11px;
    padding-top:6px;
    background-color:Black;
}

ul.navigation li {
    display: inline;
}

ul.navigation a 
{
    width:100px;
    font:12px Helvetica;
    padding:10px 40px 10px 40px;
    color: White;
    text-decoration: none;
}

ul.navigation a:hover {
    background-color: #f6f6f6;
    color:Black;
}

ul.navigation a.selected {
    background-color: #fff;
    color:Black;
}

ul.navigation a:focus {
    outline: none;
}

.scrollButtons {
    position: absolute;
    top: 150px;
    cursor: pointer;
}

.scrollButtons.left {
    left: -20px;
}

.scrollButtons.right {
    right: -20px;
}

.hide {
    display: none;
}
.panel 
{
    font:14px Helvetica;
    
    }
#cam 
{
    margin:0 auto;
    margin-top:2px;
    height:auto;
	width:310px;
}
#cam img 
{
   border:solid 1px Black;
   width:310px; 
}
#cam object 
{
   width:310px;
}
#player_wrapper 
{
    margin:0 auto;
}
#nowplaying 
{
    float:right;
    height:auto;
    padding-bottom:0px;
    width:360px;
    background-color:Black;
}
#nowplaying p 
{
    text-align:center;
    padding-top:0px;
    font-size:12px;
    color:White;
}
#meebo 
{
    text-align:center;
    padding:6px 0px 0px 0px;
}