html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
     border: 0pt none;
     font: inherit;
     margin: 0pt;
     outline: 0pt none;
     padding: 0pt;
     vertical-align: baseline;

}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
     display: block;
}

body {
     line-height: 1;
	overflow:hidden;
}

ol, ul {
     list-style: none outside none;
}

blockquote, q {
     quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
     content: none;
}

ins {
     text-decoration: none;
}

del {
     text-decoration: line-through;
}

table {
     border-collapse: collapse;
     border-spacing: 0pt;
}
html {
	/* fallback */
	background-color: #e9e9e3;

	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e9e9e3), to(#dadad0));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #e9e9e3, #dadad0);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #e9e9e3, #dadad0);

	/* IE 10 */
	background: -ms-linear-gradient(top, #e9e9e3, #dadad0);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #e9e9e3, #dadad0);
	height:100%;
}
body {
    padding:10px;
    width:580px;
	height:371px;
}

nav {
    width:580px;
    height:30px;
    text-transform:uppercase;
    line-height:30px;
	margin-top:10px;
}
nav a:link, nav a:visited {
    padding:10px 70px;
    font-family:futura-pt, sans-serif;
    text-decoration:none;
    color:#000;
}
nav a{border-top:solid 4px #000;}
nav a:hover{border-top:solid 4px #4289a9;}
nav a.selected{border-top:solid 4px #4289a9;}
nav a{-webkit-transition:border-top .4s ease-out;}
div.bar {
	width:340px;
	background-color:#5e87a8;
}
#player img {

}
.contentBox li p:first-child {
	font-weight:bold;
}
.contentBox li {
	margin-top:10px;
	list-style:none;
	font-size:16px;
	padding: 0 4px 10px 4px;
	line-height:20px;
}
.contentBox p {
	line-height:20px;
	font-size:16px;
	padding:0 4px;
}
.contentBox p:first-chil {

}
.contentBox a:hover  {
	text-decoration:underline;
	color:#5e87a8;
}
div.bar {
	width:100%;
	font-size:16px;
	color:#F2F2F2;
	padding:5px 0;
	margin-bottom:4px;
	background-color:#5e87a8;
	font-weight:bold;
	text-indent:5px;
	clear:both;
}
.panel {
	width:580px;
	float:left;
}
div.bar a:link, a:visited {
	color:#F2F2F2;
	font-size:16px;
}
div.bar a:hover {
	color:#cf671c;
	text-decoration:none;
}
div.smallBar {
	width:100%;
	padding:10px 0;
	border-bottom:1px solid #000;
	font-weight:bold;
	text-indent:5px;
	clear:both;
}
div.smallBar a:link, a:visited {
	color:#000;
}
div.smallBar a:hover {
	color:#5e87a8;
}
.contentBox {
	background-color:#F6F2F5;
	-o-box-shadow: 0 3px 4px rgba(0,0,0,.5);
	-moz-box-shadow: 0 3px 4px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 3px 4px rgba(0,0,0,.5);
	box-shadow: 0 3px 4px rgba(0,0,0,.5);
	margin-bottom:10px;
	border:1px solid #999;
}
.contentBox a:link, .contentBox a:visited  {
	font-weight:bold;
	color:#000;
	text-decoration:none;
}
.contentBox a:hover  {
	text-decoration:underline;
	color:#5e87a8;
}
.left {
	float:left;
	width:68%;
}
.right {
	float:right;
	width:28%;
}
.bottom {
	height:140px;
}