---
page_title: 'Gallery'
body_title: 'gallery'
---

- content_for :categories do
  %a{:href => "/media/gallery/?id=72157627638190531", :title => "Radio DePaul 2011-2012"}
    %span
      %p Radio DePaul 2011-2012
  %a{:href => "/media/gallery/?id=72157627556017792", :title => "Radio DePaul 2010-2011"}
    %span
      %p Radio DePaul 2010-2011
  %a{:href => "/media/gallery/?id=72157627431049317", :title => "Radio DePaul 2009-2010"}
    %span
      %p Radio DePaul 2009-2010
  %a{:href => "/media/gallery/?id=72157627555308552", :title => "Timeless"}
    %span
      %p Timeless
  %a{:href => "/media/gallery/?id=72157627431314949", :title => "Visiting Dignitaries"}
    %span
      %p Visiting Dignitaries
  %a{:href => "/media/gallery/?id=72157627431238035", :title => "Awards & Recognition"}
    %span
      %p Awards & Recognition

#sidebar= partial 'partials/sidebar'
#content
