---
page_title: 'Shows'
body_title: 'shows'
---

- content_for(:js) do
  = javascript_include_tag 'shows'
  = javascript_include_tag 'list.min' 

.container
  #sidebar= partial 'partials/sidebar'
  #content
    #shows.contentBox
      .bar 
        Active Shows
        %input.search
        =image_tag "search.png", :class => "search-icon"
      =image_tag "ajax-loader.gif", :class => "loader-img"
      %ul.list
      %ul.paging
