!!!
%html{lang: 'en'}
  %head
    %title Radio DePaul
    %meta{content: 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
    %meta{content: 'en', 'http-equiv' => 'Content-Language'}
    %meta{content: 'width=device-width, initial-scale=1.0, user-scalable=no', name: 'viewport'}
    %link{href: 'http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css', rel: 'stylesheet'}
    %link{href: '/apple-touch-icon.png', rel: 'apple-touch-icon'}
    %link{href: '/apple-touch-icon.png', rel: 'apple-touch-icon-precomposed'}
    %link{charset: 'utf-8', href: '/css/iphone/html5reset.css', media: 'screen', rel: 'stylesheet', type: 'text/css'}
    %link{charset: 'utf-8', href: '/css/iphone/style.css?v=001', media: 'screen', rel: 'stylesheet', type: 'text/css'}
    %script{src: 'http://use.typekit.com/kng1gpc.js', type: 'text/javascript'}
    :javascript
      try{Typekit.load();}catch(e){}
    %script{src: 'https://s3.amazonaws.com/radiodepaul/js/jwplayer.js', type: 'text/javascript'}
    %script{src: 'http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js'}
  %body{onload: 'pageLoaded()'}
    %header
      Radio DePaul
    %nav
      %ul#navList
        %li#liHome.selected{onclick: 'navSelected()'}
        %li#liListen{onclick: 'goToStreamHigh()'}
        %li#liWatch{onclick: 'navSelected()'}
        / <li id='liSchedule' onclick='navSelected()'></li>
        / <li id='liContact' onclick='navSelected()'></li>
    = yield
    %footer
      %a{href: '/?s=full'} Switch to Full Site
    %script{src: '/js/iphone/main.js', type: 'text/javascript'}
    %script{src: '/js/iphone/bookmark_bubble.js', type: 'text/javascript'}
    %script{src: '/js/iphone/bookmark_bubble_control.js', type: 'text/javascript'}
