---
page_title: 'Sports'
body_title: 'sports'
---

- content_for :categories do
  %a.selected{href: ''}
    %span
      %p Main
  %a{href: '/show/?id=19'}
    %span
      %p Blue Demon Weekly

#sidebar= partial 'partials/sidebar'
#content
