.bar
  This site was created with love and care by
  %a{href: 'http://devonblandin.com/'} Devon Blandin
%div
  #desc.left
    .bar Who We Are
    %p Located in the heart of Chicago, DePaul University's Radio DePaul is an award-winning student radio station that features a vibrant blend of music, talk, news, and sports programming.
  %a#apply.fancybox.iframe{href: 'http://radiodepaul.herokuapp.com/application'}
    %p Radio DePaul Application
  #studentMedia.right
    .bar Other Student Media Channels
    %ul
      %li
        %a{href: 'http://dab.depaul.edu/'} DePaul Activities Board (DAB)
      %li
        %a{href: 'http://www.depauliaonline.com/'} The DePaulia
      %li
        %a{href: 'http://communication.depaul.edu/Student Work/Good Day DePaul/'} Good Day DePaul
  %p#copy
    %a{href: 'http://www.depaul.edu/Pages/copyright.aspx'} © 2001-2012
    %a{href: 'http://depaul.edu/'} DePaul University
    %a{href: 'http://www.depaul.edu/Pages/disclaimer.aspx'} Disclaimer
    %a{href: 'http://www.depaul.edu/Pages/contact-us.aspx'} Contact DePaul University
    %a{href: 'http://emergencyplan.depaul.edu/Pages/default.aspx'} Emergency Plan
