#superBar
  %div{:style => 'padding:12px;'}
    DePaul Media Network
    %a{href: 'http://dab.depaul.edu/'} DePaul Activities Board (DAB)
    %a{href: 'http://www.depauliaonline.com/'} The DePaulia
    %a{href: 'http://communication.depaul.edu/Student Work/Good Day DePaul/'} Good Day DePaul
    %div{style: 'float:right;'}
      Follow Us
      %a{href: 'http://facebook.com/radiodepaul/'} Facebook
      %a{href: 'http://twitter.com/radiodepauldjs/'} Twitter
#categories
