%a{href: '/', title: 'home'} Home
%a{href: '/schedule/', title: 'schedule'} Schedule
%a{href: '/shows/', title: 'shows'} Shows
%a{href: '/staff/', title: 'staff'} Staff
%a{href: '/sports/', title: 'sports'} Sports
%a{href: '/media/', title: 'media'} Media
%a{href: '/about/', title: 'about'} About
%a#launchPlayer{href: 'javascript:void(0);', title: 'player'} Listen Now

