%a{href: '/', title: 'home', :class => "left-side-nav"} Home
%a{href: '/schedule/', title: 'schedule', :class => "left-side-nav"} Schedule
%a{href: '/shows/', title: 'shows', :class => "left-side-nav"} Shows
%a{href: '/staff/', title: 'staff', :class => "staff-nav left-side-nav"} Staff
%a{href: '/sports/', title: 'sports', :class => "right-side-nav"} Sports
%a{href: '/media/', title: 'media', :class => "right-side-nav"} Media
%a{href: '/about/', title: 'about', :class => "right-side-nav"} About
%a#launchPlayer{href: 'javascript:void(0);', title: 'player', :class => "right-side-nav"} Listen Now

