%a{nav_active("index"), href: '/', :class => "left-side-nav"} Home
%a{href: '/schedule/', :class => "left-side-nav"} Schedule
%a{href: '/shows/', :class => "left-side-nav"} Shows
%a{href: '/staff/', :class => "staff-nav left-side-nav"} Staff
%a{href: '/sports/', :class => "right-side-nav"} Sports
%a{href: '/media/', :class => "right-side-nav"} Media
%a{href: '/about/', :class => "right-side-nav"} About
%a#launchPlayer{href: 'javascript:void(0);', :class => "right-side-nav"} Listen Now

