#tweet.contentBox
  %p Loading tweet...
.contentBox
  %ul
    %li
      %p Station Phone
      %p (773) 325-7308
    %li
      %p Station Fax
      %p (773) 325-4133
    %li
      %p Mailing Address
      %p
        Radio DePaul
        %br>
        2250 N. Sheffield Avenue
        %br>
        Suite 317
        %br>
        Chicago, IL 60614
.contentBox
  #fb-root
  %script{src: 'http://connect.facebook.net/en_US/all.js#xfbml=1'}
  %fb:like-box{border_color: '#fff', header: 'false', height: '228', href: 'http://www.facebook.com/radiodepaul', show_faces: 'true', stream: 'false', width: '240'}
.contentBox
  %a
    %img
