---
page_title: 'Schedule'
body_title: 'schedule'
---

- content_for :categories do
  %a{title: 'monday'}
    %span
      %p Monday
  %a{title: 'tuesday'}
    %span
      %p Tuesday
  %a{title: 'wednesday'}
    %span
      %p Wednesday
  %a{title: 'thursday'}
    %span
      %p Thursday
  %a{title: 'friday'}
    %span
      %p Friday
  %a{title: 'saturday'}
    %span
      %p Saturday
  %a{title: 'sunday'}
    %span
      %p Sunday

#sidebar= partial 'partials/sidebar'
#content
